<div id="show_star-<%= id %>"></div>
<script>
    var elem = document.querySelector('#show_star-<%= id %>');
    var opt = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        readOnly: true,
        score: <%= rating %>
    };
    raty(elem,opt);
</script>