<h1>ユーザー編集</h1>

<%= form_with(model: @user, url: admin_user_path(@user), method: :patch) do |form| %>
  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %><br>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :admin %>
    <%= form.check_box :admin %>
  </div>

  <div class="actions">
    <%= form.submit '更新' %>
  </div>
<% end %>

<%= link_to '戻る', admin_users_path %>
