<h1>ユーザー一覧</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>名前</th>
      <th>作成日時</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.name || '未設定' %></td>
        <td><%= user.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td>
          <%= link_to '詳細', admin_user_path(user), class: 'btn btn-primary' %>
          <%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>